@font-face {
  font-family: "Lobster Two", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Arvo&family=Lobster+Two:ital,wght@1,700&family=Open+Sans&family=Source+Sans+Pro&display=swap");
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightskyblue;
  font-size: 1rem;
}
body * {
  box-sizing: border-box;
  font-family: "Lobster Two";
}
.container {
  padding: 0 30px 0 30px;
}

.page-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.page-col {
  width: 100%;
}
.pic-col {
  width: 33.3%;
  padding: 10px;
}

.header {
  border: 10px double fuchsia;
  padding: 0 20px 0 20px;
  background: white;
}

.blue {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: inherit;
  max-width: 900px;
}

.pictures-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

h2 {
  color: fuchsia;
  font-size: 5rem;
  font-family: "Lobster Two";
  margin: 0;
  display: flex;
  justify-content: center;
  max-width: 900px;
  padding-bottom: 11rem;
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  width: 100%;
}

img {
  width: 100%;
}

@media (min-width: 550px) {
  .pic-col {
    width: 33.33%;
  }
}

@media (min-width: 900px) {
  body {
    font-size: 1.2rem;
  }
  .page-row {
    flex-direction: row;
  }
  .page-col {
    width: 50%;
  }
  .pictures-row {
    width: 25%;
    border-radius: 20px;
  }
  .header {
    max-height: 350px;
  }
}
